.card{
   
    height: 150px;
    width: 150px;

    
    // #content-row{
    //     height: 90vh;
    //     border: 1px solid red;
    //     position: absolute;
    // }
    // #content-row{
    //     height: 10vh;
    //     border: 1px solid black;
    //     // position: absolute;
    // }
    #two-icons{
        display: flex;
        justify-content: flex-end;
        // margin-left: auto;
    }

    
}